.cmp-ticket-dashboard__table {
    display: table;
    width: 100%;
    table-layout: auto;
    border-collapse: collapse;
}

.cmp-ticket-dashboard__table thead {
    display: table-header-group;
}

.cmp-ticket-dashboard__table tbody {
    display: table-row-group;
}

.cmp-ticket-dashboard__table tr {
    display: table-row;
}

.cmp-ticket-dashboard__table th,
.cmp-ticket-dashboard__table td {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 0.5rem;
    vertical-align: middle;
}
